*{
    margin: 0;
    padding: 0;
     font-family: "Lobster Two", sans-serif;
}

.container{
   background: url("assets/bg.jpg");
   height: 100vh;
   background-size: 100vw 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
}

#board{
    background: linear-gradient(rgb(105, 219, 105),rgb(250, 250, 116));
    width:90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows:repeat(18,1fr) ;
    grid-template-columns: repeat(18,1fr);

}

.head{
     background:linear-gradient(green,yellow)  ;
    border: 2px solid black;
    transform: scale(1.05);
    border-radius: 9px;
}

.snake{
    background:linear-gradient(red,purple) ;
    border: .25vmin solid black;
    border-radius: 12px;
}

.food{
    background-color: #FFBD00;
     border: .25vmin solid black;
     border-radius: 8px;
}